input.ng-touched.ng-invalid {
    border: 2px solid red;
}

input.ng-touched.ng-valid {
    border: 2px solid green;
}

.mensaje-error{
    color: red;
    font-size: 80%;
}

button:disabled{
    background-color: lightgray;
    border: 1px solid gray;
}

.img_photo_profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}