<div class="container">
  <h2>Nuevo Usuario</h2>
  <div class="row justify-content-center" style="text-align:left;">
    <div class="col-6">
      <form ngForm #signUpForm="ngForm" (ngSubmit)="userSignUp(signUpForm)">
        
        <!-- Firstname -->
        <div class="form-group">
          <label for="inputFirstName"><b>Nombre</b></label>
          <input 
            type="text"
            class="form-control"
            ngModel 
            name="first_name"
            id="inputFirstName"
            #firstNameRef="ngModel"
            minlength="2" 
            required>
            <div *ngIf="firstNameRef.invalid && firstNameRef.touched"
            class="mensaje-error">
              <div *ngIf="firstNameRef.errors.required">
                Debes introducir el Nombre.
              </div>
              <div *ngIf="firstNameRef.errors.minlength">
                El nombre debe contener al menos 2 caracteres.
              </div>
            </div>
        </div>
        
        <!-- Lastname -->
        <div class="form-group">
          <label for="inputLastName"><b>Apellidos</b></label>
          <input 
            type="text"
            class="form-control"
            ngModel 
            name="last_name"
            id="inputLastName"
            #lastNameRef="ngModel" 
            required>
          <div class="mensaje-error" *ngIf="lastNameRef.touched && lastNameRef.invalid">Debes introducir los Apellidos.</div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="inputEmail"><b>Correo Electrónico</b></label>
          <input 
            type="email"
            class="form-control"
            ngModel
            name="email"
            id="inputEmail"
            #emailRef="ngModel"
            required [pattern]="emailPattern">
            <div *ngIf="emailRef.invalid && emailRef.touched"
            class="mensaje-error">
              <div *ngIf="emailRef.errors.required">
                Debes introducir un email.
              </div>
              <div *ngIf="emailRef.errors.pattern">
                Formato de email incorrecto.
              </div>
            </div>
        </div> 

        <!-- User Name -->
        <div class="form-group">
          <label for="inputUserName"><b>Usuario</b></label>
          <input 
            type="text"
            class="form-control"
            ngModel 
            id="inputUserName"
            name="username"
            #userRef="ngModel" 
            required>
          <div class="mensaje-error" *ngIf="userRef.touched && userRef.invalid">Debes introducir el Usuario.</div>
        </div>

        <!-- Password -->
        <div class="form-group">
        <label for="inputPass"><b>Contraseña</b></label>
          <input 
            type="password"
            class="form-control"
            ngModel
            name="password"
            id="inputPass"
            #passRef="ngModel"
            required>
          <div class="mensaje-error" *ngIf="passRef.touched && passRef.invalid">Debes introducir la Contraseña.</div>
        </div>

        <!-- Photo -->
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputUserPhoto"><b>Imagen</b></label>
              <input
                type="file"
                class="form-control"
                ngModel
                id="inputUserPhoto"
                name="photo"
                #userPhotoRef="ngModel"
                (change)="uploadFile($event)"
                />
          </div>       
          <div class="form-group col-md-3">
            <img src="{{photoUrl}}" class="img_photo_profile"/>
          </div>      
        </div>

        <div class="form-group">
          <button 
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="signUpForm.invalid">
            SignUp
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>