<div class="container" style="text-align:left;">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <form ngForm #updateForm="ngForm" (ngSubmit)="updateUser(updateForm)">
        
        <!-- Firstname -->
        <div class="form-group">
          <label for="inputFirstName"><b>Nombre</b></label>
          <input 
            placeholder="{{ user.first_name }}"
            type="text"
            class="form-control"
            ngModel 
            name="first_name"
            id="inputFirstName"
            #firstNameRef="ngModel"
            minlength="2" 
            required>
            <div *ngIf="firstNameRef.invalid && firstNameRef.touched"
            class="mensaje-error">
              <div *ngIf="firstNameRef.errors.required">
                Debes introducir el Nombre.
              </div>
              <div *ngIf="firstNameRef.errors.minlength">
                El nombre debe contener al menos 4 caracteres.
              </div>
            </div>
        </div>
        
        <!-- Lastname -->
        <div class="form-group">
          <label for="inputLastName"><b>Apellidos</b></label>
          <input 
            placeholder="{{ user.last_name }}"
            type="text"
            class="form-control"
            ngModel 
            name="last_name"
            id="inputLastName"
            #lastNameRef="ngModel" 
            required>
          <div class="mensaje-error" *ngIf="lastNameRef.touched && lastNameRef.invalid">Debes introducir los Apellidos.</div>
        </div>
 
        <!-- User Name -->
        <div class="form-group">
          <label for="inputUserName"><b>Usuario</b></label>
          <input
            placeholder="{{ user.username }}"
            type="text"
            class="form-control"
            ngModel 
            id="inputUserName"
            name="username"
            #userRef="ngModel" 
            required>
          <div class="mensaje-error" *ngIf="userRef.touched && userRef.invalid">Debes introducir el Usuario.</div>
        </div>

        <!-- Photo -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputUserPhoto"><b>Imagen</b></label>
              <input
                type="file"
                class="form-control"
                ngModel
                id="inputUserPhoto"
                name="photo"
                #userPhotoRef="ngModel"
                (change)="uploadFile($event)"
                />
          </div>       
          <div class="form-group col-md-3">
              <h6>Nueva Imagen</h6>
            <img src="{{photoUrl}}" class="img_photo_profile"/>
          </div>  
          <div class="form-group col-md-3">
            <h6>Imagen Actual</h6>
            <span *ngIf="user.photo">
              <img [src]="user.photo" class="img_photo_profile"/>
            </span>
            <span *ngIf="user.photo === undefined || user.photo === '' ">
              <img src="./../assets/No_Image.png" class="img_photo_profile"/>
            </span>
          </div>    
        </div>

        <div class="form-group">
          <button 
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="updateForm.invalid">
            Update User
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>
