<div class="container">
  <h4>Mis Mascotas</h4>
    <div class="col"></div>
    <div class="col-md-auto">
        <div class="card box-shadow" *ngFor="let dog of listado">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ dog.name }}</h4>
          </div>
          <div class="card-body">
            <span *ngIf="dog.photos.length >= 1">
              <img [src]="dog.photos" class="img_photo_profile"/>
            </span>
            <span *ngIf="dog.photos.length === 0 ">
              <img src="./../assets/No_Image.png" class="img_photo_profile"/>
            </span>
            <div>
              <button (click)="DogSettings(dog, dogModal)" class="btn btn-primary">Ajustes</button>
              <button (click)="MatchDog(dog)" class="btn btn-primary">Match</button>
            </div>
          </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<!-- Modal -->
<ng-template #dogModal let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Preferencias de búsqueda de: {{ dog.name }}</h4>
  </div>
  <div class="modal-body">
    <form ngForm #queryForm="ngForm" (ngSubmit)="dogQuery(queryForm)">
        <!-- DOG AGE-->
        <div class="form-group">  
          <label for="inputDogAge">Edad</label>
          <input class="form-control form-control-sm"
            placeholder="{{dog.query.age}}"
            type="number"
            ngModel 
            id="inputDogAge"
            min="0"
            step="1"
            name="queryage"
            #queryageRef="ngModel" 
            required
          >
          <div *ngIf="queryageRef.invalid && queryageRef.touched"
            class="mensaje-error">
              <div *ngIf="queryageRef.errors.required">
                Debes introducir la Edad del perro a buscar.
              </div>
            </div>
        </div>
        <!-- MAX KMS-->
        <div class="form-group">
          <label for="inputDogKms">Distancia</label>
          <select class="form-control form-control-sm"
            ngModel
            id="inputDogKms"
            name="querymaxkms"
            #querymaxkmsRef="ngModel" 
            required>
            <option value="" selected>{{dog.query.max_kms}} (Actual)</option>
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
        </div>

        <div class="form-group">
          <span *ngIf="dog.query.reproductive === true">
              <label for="queryreproductive">Apareamiento (Actual: Sí)</label><br />
          </span>
          <span *ngIf="dog.query.reproductive === false">
              <label for="queryreproductive">Apareamiento (Actual: No)</label><br />
          </span>
            <label class="btn btn-secondary">
              <input type="radio" ngModel #queryreproductiveRef="ngModel"  name="queryreproductive" value="true"> Si
            </label>
            <label class="btn btn-secondary">
              <input type="radio" checked ngModel #queryreproductiveRef="ngModel" name="queryreproductive" value="false"> No
            </label>
        </div>

        <div class="form-group">
          <label for="inputDogBreed">Raza</label>
          <select class="form-control form-control-sm"  
            ngModel 
            id="inputDogBreed"
            name="querybreed"
            #querybreedRef="ngModel" 
            required
            >
            <option value="" selected>{{dog.query.breed}} (Actual)</option>
            <option *ngFor="let data of breeds" value= {{data}}>
              {{data}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <button type="submit" 
            class="btn btn-primary"
            [disabled]="queryForm.invalid"
            >Guardar preferencias</button>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      
    <button type="button" class="btn btn-secondary" (click)="close('Close click')">Cerrar</button>
  </div>
</ng-template>
