<div class="container" style="margin-top: 1.5em">
  <h4 style="margin-bottom: 0.8em;">Mis Matches</h4>
  <div class="row">
      <div class="col"></div>
      <!-- PINTO UN MENSAJE SI NO HAY PREFERENCIAS GUARDADAS-->
    <div class="col-md-auto" *ngIf="!listadoMatches" style="margin: 3em 0 3em 0;">
        <h6>No has hecho Match con ningún perro aún.</h6>
      </div>
      <div class="col-md-auto"  *ngIf="listadoMatches">
          <div class="card box-shadow" *ngFor="let dog of listadoMatches">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ dog.name_dog_matched }}</h4>
            </div>
            <div class="card-body">
                <span *ngIf="dog.img_dog_matched">
                  <img [src]="dog.img_dog_matched" class="img_photo_profile"/>
                </span>
                <span *ngIf="!dog.img_dog_matched">
                  <img src="./../assets/No_Image.png" class="img_photo_profile"/>
                </span>
              <div>
                <button (click)="DogDetail(dog)" class="btn btn-primary btn-block">Ver Perfil</button>
              </div>
            </div>
          </div>
      </div>
      <div class="col"></div>
    </div>
  <!-- <ul>
    <li *ngFor="let dog of listadoMatches" class="dog_card">
        <span *ngIf="dog.img_dog_matched">
          <img [src]="dog.img_dog_matched" class="img_photo_profile"/>
        </span>
        <span *ngIf="!dog.img_dog_matched">
          <img src="./../assets/No_Image.png" class="img_photo_profile"/>
        </span>
        <h5>{{ dog.name_dog_matched }}</h5>
        <button (click)="DogDetail(dog)" class="btn btn-primary">Ver Perfil</button>
    </li>
  </ul> -->
</div>