<div class="container" style="margin-top: 1.5em">
  <h4>Mis Matches</h4>
  <ul>
    <li *ngFor="let dog of listadoMatches" class="dog_card">
        <span *ngIf="dog.img_dog_matched">
          <img [src]="dog.img_dog_matched" class="img_photo_profile"/>
        </span>
        <span *ngIf="!dog.img_dog_matched">
          <img src="./../assets/No_Image.png" class="img_photo_profile"/>
        </span>
        <h5>{{ dog.name_dog_matched }}</h5>
        <button (click)="DogDetail(dog)" class="btn btn-primary">Ver Perfil</button>
    </li>
  </ul>
</div>