<div class="container" style="margin-top: 1em">
  <h5>Mis Matches</h5>
  <ul>
    <li *ngFor="let dog of listadoMatches" class="dog_card">
        <span *ngIf="dog.img_dog_matched.length >= 1">
          <img [src]="dog.img_dog_matched" class="img_photo_profile"/>
        </span>
        <span *ngIf="dog.img_dog_matched.length === 0 ">
          <img src="./../assets/No_Image.png" class="img_photo_profile"/>
        </span>
        <h5>{{ dog.name_dog_matched }}</h5>
    </li>
  </ul>
  
  
</div>