<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin-top:20px;">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a routerLink="/login" routerLinkActive="active" class="nav-item nav-link active" id="nav-login" data-toggle="tab" role="tab" aria-controls="nav-login" aria-selected="true">Login</a>
      <a routerLink="/new_user" routerLinkActive="active" class="nav-item nav-link" id="nav-new-user" data-toggle="tab"  role="tab" aria-controls="nav-new-user" aria-selected="false">Nuevo Usuario</a>
    </div>
  </nav>

  <div style="text-align:center">
    <router-outlet></router-outlet>
  </div>
</div>

