ul {
    float: right;
    margin-right: 5em;
}
li {
    list-style: none;
    display: inline-block;
    margin-top: 0.7em;
}
a {
    color: #a3195b;
}
a:hover {
    color: gray;
}
.container-fluid {
    background-color: white;
}
.cabecera {
    background-color: #ead3dc;
    border-bottom: 1px solid #a3195b;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.logocabecera {
    width: 240px;
    margin-left: 5em;
}

footer {
    margin-bottom: 0;
}
