<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
<header>
  <div class="row cabecera">
    <div class="col logo">
        <img alt="Tindogs" class="logocabecera" src="../assets/Tindogs2.png">
    </div>
    <div class="col">
        <ul>
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link" href="#">Login</a>
          </li>
        </ul>
    </div>
   
  </div>
    
</header>

  <div style="text-align:center">
    <router-outlet></router-outlet>
  </div>
</div>

