<form ngForm #signUpForm="ngForm" (ngSubmit)="userSignUp(signUpForm)">

<label for="inputName">Nombre</label>
<input 
  type="text"
  ngModel 
  id="inputName"
  name="userName"
  #userNameRef="ngModel" 
  required
>

<label for="inputEmail">Correo Electrónico</label>
<input 
  type="email"
  name="email"
  ngModel
  id="inputEmail"
  #emailRef="ngModel"
  required
>  

<label for="inputSurname">Apellidos</label>
<input 
  type="text"
  ngModel 
  id="inputSurname"
  name="surname"
  #surnameRef="ngModel" 
  required
>

<label for="inputUser">Usuario</label>
<input 
  type="text"
  ngModel 
  id="inputUser"
  name="user"
  #userRef="ngModel" 
  required
>

<label for="inputPhone">Teléfono</label>
<input 
  type="text"
  ngModel 
  id="inputPhone"
  name="phone"
  #phoneRef="ngModel" 
  required
>

<label for="inputPass">Contraseña</label>
<input 
  type="password"
  name="pass"
  ngModel
  id="inputPass"
  #passRef="ngModel"
  required
>

<label for="inputMobile">Movil</label>
<input 
  type="text"
  name="mobile"
  ngModel
  id="inputMobile"
  #mobileRef="ngModel"
  required
>

<button 
  type="submit">
  SignUp
</button>
  
</form>
