<div class="container">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-md-auto">
      <h2>Mascotas cercanas</h2>
    </div>
    <div class="col">
      <ul>
        <li class="menuLateral">
          <a routerLink="/user_dashboard" routerLinkActive="active" class="nav-link" href="#">Volver al Perfil</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-md-auto">
      <span *ngIf="dog.photos.length >= 1">
          <img [src]="dog.photos[0]" class="img_photo_match"/>
        </span>
        <span *ngIf="dog.photos.length === 0 ">
          <img src="./../assets/No_Image.png" class="img_photo_match"/>
        </span>
        <h4>{{ dog.name }}</h4>
        <p>{{ dog.description }}</p>
    </div>

    <div class="col" style="text-align: left; margin-top: 5em; margin-left: -1em;">
      <div *ngFor="let likes of dog.likes_from_others"> 
        <span *ngIf="dog.likes_from_others.length >= 1 && likes.dog_like_id === dog_id"  style="font-size: 3em; color: lightgreen; display: inline-block">
            <i class="fa fa-thumbs-up fa-lg"></i>
        </span>
      </div> 
    </div>

  </div>
  
</div>

