/* You can add global styles to this file, and also import other style files */

.img_photo_profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* FORMS */

input.ng-touched.ng-invalid {
    border: 2px solid red;
}

input.ng-touched.ng-valid {
    border: 2px solid green;
}

.mensaje-error{
    color: red;
    font-size: 80%;
}

h2 {
    margin:1em;
}
