/* You can add global styles to this file, and also import other style files */

.img_photo_profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-bottom: 1em;
    border: 1px solid lightgray;
}

.img_photo_modal {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid lightgray;
}

.img_photo_detail {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 1px solid lightgray;
}

/* FORMS */
input.ng-touched.ng-invalid {
    border: 2px solid red;
}

input.ng-touched.ng-valid {
    border: 2px solid green;
}

.mensaje-error{
    color: red;
    font-size: 80%;
}

h2 {
    margin:0.5em;
}
h5,h4 {
    margin-top: 0.3em;
}

.dog_card {
    padding: 1em;
    margin: 1em;
    border: 2px solid lightgray;
    border-radius: 15px;
    list-style: none inherit;
    display: inline-block;
    min-width: 150px;
    left: -20px;
    position: relative;
}

.hand_like {
    text-align: left;
    margin-top: 5em;
    margin-left: -1em;
}

.card {
    display: inline-block;
    margin: 1em;
}

.dogMatched_data h6 {
    margin: 0.5em;
    padding: 0.5em;
}

li.menuLateral {
    list-style: none;
    margin-top: 1em;
}
